.main_frame{
	height: 900px;
	width: 100%;
	background-color: #484848;
	float: left;
}

.title{
	margin-left: 800px;
	margin-top: 100px;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

.login{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: #F1F1F1;
	
}

.login table{
	width: 260px;
	height: 280px;
	margin-left: 15px;
}

.title1{
	color: white; 
	font-weight: bold;
	background-color: #8497BF;
	width: 300px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}