.main_frame{
	background-color: pink;	
	height: 800px;
	width: 90%;
	float: left;
	display: block;
}

.frame1{
	height: 160px;
	width: 100%;
	background-color: white;
	float: right;
	
}

.frame2{
	height: 640px;
	width: 100%;
	background-color: white;
	float: right;
}

.userInfoTable{
	/*background-color: green;*/
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.userInfoTable table{
	width: 600px;
	height: 120px;	 
}

.title{
	color: #077AC7; 
	font-weight: bold;
	background-color: #D7EEFC;

}

.title1{
	color: black; 
	font-weight: bold;
}

.tablecontent{
	color: #5097D8;

}

.statisticsTable{
	/*background-color: green;*/
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.statisticsTable table{
	width: 600px;
	height:45px;
}

.staffList{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
	height: 138px;
}


.meeting{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.meeting table{
	width:600px;
	height:45px;
}

.introduction{
	width: 98%;
	height: 95%;
	margin-left: 10px;	
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: black;
}

.introduction table{
	width: 100%;
	height: 100%
}

.timeShaft{
	width: 100px;
	height: 580px;
	background-color: #E56C02;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}




