.main_frame{
	background-color: pink;	
	height: 800px;
	width: 90%;
	float: left;
	display: block;
}

.frame1{
	height: 200px;
	width: 100%;
	background-color: white;
	float: right;
	
}

.frame2{
	height: 597px;
	width: 100%;
	background-color: #55C9CE;
	float: right;
	margin-top: 3px;
}

.userInfoTable{
	/*background-color: green;*/
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.userInfoTable table{
	width: 600px;
	height: 120px;	 
}

.title{
	color: #077AC7; 
	font-weight: bold;
	background-color: #D7EEFC;

}

.title1{
	color: black; 
	font-weight: bold;
}

.tablecontent{
	color: #5097D8;

}

.statisticsTable{
	/*background-color: green;*/
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.statisticsTable table{
	width:600px;
	height:90px;
}

.actorList{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.actorList table{
	width:400px;
	height:60px;
}

.timeShaft{
	width: 100px;
	height: 580px;
	background-color: #E56C02;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.documentList{	
	margin-left: 10px;
	margin-top: 10px;
	background-color: #C6D6EC;
	float: left;
}

.documentList table{
	width: 600px;
	height: 580px;
}

.UserInfoUI{
	width: 100%;
	height: 100%;
	background-color: #C1A9A9;
	display: none;
	float: left;
}

.UploadHeadFrame{
	width: 50%;
	height: 50%;
	background-color: #26B5D7;
	margin-top: 5%;
	margin-left: 5%;
	float: left;
}
.UploadDocUI{
	width: 100%;
	height: 100%;
	background-color: #C1A9A9;
	display: none;
	float: left;
}

.UploadDocFrame{
	width: 94%;
	height: 70%;
	background-color: #26B5D7;
	margin-top: 3%;
	margin-left: 2%;
	float: left;
}

.uploadListFrame{
	width: 90%;
	height: 50%;
	background-color: white;
	margin-top: 3%;
	margin-left: 2%;
	float: left;
}

.uploadList{
	width: 100%;
	height: 78%;
	float: left;
	background-color: #F5F5F5;
}

.docManUI{
	width: 100%;
	height: 100%;
	background-color: #91BDE9;
	display: none;
	float: left;
}

.docList{
	width: 50%;
	height: 50%;
	background-color: #BDDAEF;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.crewManUI{
	width: 100%;
	height: 100%;
	background-color: #91BDE9;
	display: none;
	float: left;
}

.crewList{
	width: 50%;
	height: 50%;
	background-color: #BDDAEF;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	border-style: solid solid solid solid;
	border-width: thin;
	border-color: #B4D3EF;
}

.UserHomeUI{
	width: 100%;
	height: 100%;
	background-color: #91BDE9;
	display: none;
	float: left;
}